.container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.tasksHeader {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;

  p {
    gap: 10px;
    display: flex;
  }
}

.task {
  background-color: darkgreen;
  border-radius: 5px;
  display: flex;
  flex-direction: column;

  .taskGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    padding: 10px;
  }
}

.actions {
  display: flex;
  gap: 10px;

  .editedByAdmin {
    opacity: 0.7;
  }
}

.loading {
  opacity: 0.5;
}

.loader {
  font-size: 18px;
  color: white;
  text-align: center;
  animation: glow 1.5s ease-in-out infinite;
}

@keyframes glow {
  100% {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  }

  50% {
    text-shadow: 0 0 20px rgba(255, 255, 255, 1);
  }
}