.active {
  font-weight: bold;
  color: rgb(199, 113, 0);
}

.container {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  align-items: center;

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 2px;
  }

  li {
    padding: 0px 4px;
  }
}

.perPage {
  opacity: 0.5;
}